<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.0.10/web-fonts-with-css/css/fontawesome-all.min.css}">
    <link rel="stylesheet" th:href="@{/css/bootadmin.min.css}">
    <link rel="stylesheet" th:href="@{https://bootadmin.net/css/bootadmin.min.css}">


    <title>Web-shop Admin</title>
</head>
<body class="bg-light">

<nav class="navbar navbar-expand navbar-dark bg-primary">
    <a class="sidebar-toggle mr-3" href="#"><i class="fa fa-bars"></i></a>
    <a class="navbar-brand" th:href="@{/}">Admin</a>

    <div class="navbar-collapse collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-envelope"></i> 5</a></li>
            <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-bell"></i> 3</a></li>
            <li class="nav-item dropdown">
                <a href="#" id="dd_user" class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> John Doe</a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dd_user">
                    <a href="#" class="dropdown-item">Profile</a>
                    <a href="#" class="dropdown-item">Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<div class="d-flex">
    <div class="sidebar sidebar-dark bg-dark">
        <ul class="list-unstyled">
            <li>
                <a href="#sm_expand_1" data-toggle="collapse">
                    <i class="fa fa-fw fa-link"></i> Users
                </a>
                <ul id="sm_expand_1" class="list-unstyled collapse">
                    <li><a th:href="@{/users}">All users</a></li>
                    <li><a th:href="@{/newuser}">Create user</a></li>
                </ul>
            </li>
            <li>
                <a href="#sm_expand_2" data-toggle="collapse">
                    <i class="fa fa-fw fa-link"></i> Roles
                </a>
                <ul id="sm_expand_2" class="list-unstyled collapse">
                    <li><a th:href="@{/roles}">All roles</a></li>
                    <li><a th:href="@{/newrole}">Create role</a></li>
                </ul>
            </li>
            <!--            <li><a href="#"><i class="fa fa-fw fa-link"></i> Menu Item</a></li>-->
            <!--            <li><a href="#"><i class="fa fa-fw fa-link"></i> Menu Item</a></li>-->
            <!--            <li><a href="#"><i class="fa fa-fw fa-link"></i> Menu Item</a></li>-->
        </ul>
    </div>

    <div class="content p-4">
        <div class="container">
            <div class="row py-2">
                <div class="navbar-brand">
                    <p>Edition</p>
                </div>
                <div class="col-12">
                    <table class="table table-bordered my-2">
                        <tbody>
                        <tr>
                            <td th:text="${role.id}">Id</td>
                            <td th:text="${role.name}">Name</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-12">
                    <form th:action="@{/updateRole}" method="post" th:object="${role}">
                        <input type="hidden" th:field="*{id}">
                        <div class="form-group">
                            <input type="text" class="form-control" th:field="*{name}" placeholder="Enter new name">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{js/bootadmin.min.js}"></script>
<script th:src="@{https://bootadmin.net/js/datatables.min.js}"></script>

</body>
</html>