<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header :: head"></head>
<body class="bg-light">
<div th:replace="fragments/header :: header"></div>
<div class="d-flex">
    <div th:replace="fragments/sidebar :: sidebar"></div>
    <div class="content p-4">
        <form th:action="@{insertbrand}" method="post" th:object="${brand}">
            <div>
                <input type="text" th:field="*{name}" placeholder="Name">
            </div>
            <br>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>
<script th:replace="fragments/footer :: scripts"></script>
</body>
</html>