<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header :: head"></head>
<body class="bg-light">
<div th:replace="fragments/header :: header"></div>
<div class="d-flex">
    <div th:replace="fragments/sidebar :: sidebar"></div>
    <div class="content p-4">
        <h2 class="mb-4">Roles</h2>
        <div class="card mb-4">
            <div class="card-body">
                <div class="col-12">
                    <div class="col-12 mt-3">
                        <form>
                            <input placeholder="Name" type="text" name="name" id="name" th:value="${param.name}"/>
                            <button class="btn btn-primary" type="submit">Search</button>
                        </form>
                    </div>
                    <table class="table table-bordered my-2">
                        <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Users</th>
                            <th scope="col">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="role : ${roles.content}">
                            <td th:text="${role.name}">Name</td>
                            <td th:text="${role.users}">Users</td>
                            <td>
                                <a class="btn btn-success" th:href="@{/roles/edit(id=${role.id})}"><i class="fas fa-edit"></i> </a>
                                <a class="btn btn-danger" th:href="@{/roles/delete(id=${role.id})}"><i class="far fa-trash-alt"></i> </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="col-12">
                        <nav aria-label="...">
                            <ul class="pagination">
                                <li th:each="num: ${#numbers.sequence(1, roles.totalPages)}"
                                    class="page-item"
                                    th:classappend="${num == roles.number + 1} ? 'active'">
                                    <a class="page-link"
                                       th:text="${num}"
                                       th:href="@{/roles/all(page=${num}, size=${roles.size}, name=${param.name})}">1</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:replace="fragments/footer :: scripts"></script>
</body>
</html>