<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header :: head"></head>
<body class="bg-light">
<div th:replace="fragments/header :: header"></div>
<div class="d-flex">
    <div th:replace="fragments/sidebar :: sidebar"></div>
    <div class="content p-4">
        <h2 class="mb-4">Users</h2>
        <div class="card mb-4">
            <div class="card-body">
                <div class="col-12">
                    <div class="col-12 mt-3">
                        <form>
                            <input placeholder="Name" type="text" name="username" id="username" th:value="${param.username}"/>
                            <button class="btn btn-primary" type="submit">Search</button>
                        </form>
                    </div>
                    <table class="table table-bordered my-2">
                        <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Roles</th>
                            <th scope="col">Actions</th>
                            <!--                            <th scope="col">Actions</th>-->
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="user : ${users.content}">
                            <td th:text="${user.username}">Username</td>
                            <td th:text="${user.roles}">Roles of user</td>
                            <td>
                                <a class="btn btn-success" th:href="@{/users/edit(id=${user.id})}"><i class="fas fa-edit"></i> </a>
                                <a class="btn btn-danger" th:href="@{/users/delete(id=${user.id})}"><i class="far fa-trash-alt"></i> </a>
                            </td>
                            <!--                            <td>-->
                            <!--                                <a class="btn btn-success"-->
                            <!--                                   th:href="@{editproduct(id=${product.id})}"><i class="fas fa-edit"></i></a>-->
                            <!--                                <a class="btn btn-danger"-->
                            <!--                                   th:href="@{deleteproduct(id=${product.id})}"><i class="far fa-trash-alt"></i></a>-->
                            <!--                            </td>-->
                        </tr>
                        </tbody>
                    </table>
                    <div class="col-12">
                        <nav aria-label="...">
                            <ul class="pagination">
                                <li th:each="num: ${#numbers.sequence(1, users.totalPages)}"
                                    class="page-item"
                                    th:classappend="${num == users.number + 1} ? 'active'">
                                    <a class="page-link"
                                       th:text="${num}"
                                       th:href="@{/users/all(page=${num}, size=${users.size}, username=${param.username})}">1</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:replace="fragments/footer :: scripts"></script>
</body>
</html>